.edit-template-container {
  text-align: center;
}

.edit-template-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit-template-header :first-child {
  margin-right: 0.5rem;
}

.edit-template-header img:hover {
  cursor: pointer;
}
