h2 {
  color: #fff;
  margin: 1rem 0;
}

p,
label {
  color: #fff;
}

label {
  margin-right: 0.5rem;
}

.flex {
  display: flex;
}

.flex.col {
  flex-direction: column;
}

.flex.row {
  flex-direction: row;
}

.flex.center {
  align-items: center;
  justify-content: center;
}

.width-50 {
  width: 50%;
  margin: auto;
}

.width-75 {
  width: 75%;
  margin: auto;
}

.mt-1 {
  margin-top: 1rem;
}
.mtb-1 {
  margin: 0.5rem 0;
}

table {
  margin: 1rem auto;
  color: #fff;
  border: 1px solid #fff;
}
th,
td {
  padding: 0.5rem;
}
